# WordPress - ignore
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
*.log
.env

# Dependencies
vendor/
node_modules/

# Lock files (keep these for reproducibility)
!composer.lock
!package-lock.json

# Commercial plugins (ACF Pro etc.)
wp-content/plugins/advanced-custom-fields-pro/