name: SEO Audit

on:
  push:
    branches: [ "main" ]
  schedule:
    - cron: '0 7 * * *' # Daily

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Link Checker (Lychee)
        uses: lycheeverse/lychee-action@f81335d9f4b9771755b9a514198317c9f419d77c # v1.10.0
        with:
          args: --verbose --no-progress 'https://www.hotelnowydwor.eu/' './**/*.md' './**/*.html'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  lighthouse-seo:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Lighthouse SEO Check
        uses: treosh/lighthouse-ci-action@01b696c310e9799e72144669f1b83e0d63d3b076 # v12.1.0
        with:
          urls: 'https://www.hotelnowydwor.eu/'
          configPath: './.github/lighthouse/seo-config.json'
          uploadArtifacts: true
          temporaryPublicStorage: true
